@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Roboto&display=swap');

*{
    box-sizing: border-box;
    margin:0;
    border:0; 
    font-size: 23px;   
    font-weight: 600;
}

body {
    background-color: #A3A9F5;
    font-family:'Roboto', sans-serif;
}

.container {
    display:flex;
    justify-content: center;
    margin-top:100px;
}

.main-body {
    background-color: #24303d;
}

.main-body .display {
    font-size: 40px;  
    min-height: 50px;
    color:white;
    width:250px;
    padding:0 5px;
    margin-top:20px;
    overflow-wrap: break-word;     
}

.main-body .btn-container{
    margin-top:10px;
    display:flex;   
    flex-direction: column;

}

.main-body .row {
    display:flex;
}

.main-body .btn {
   flex:1;
   height:60px;
   color: white;
}

.main-body .digit-btn,.period-btn,.equal-btn {
    background-color:#14151d;   
}

.operator-btn {
    background-color:#0373ff;
}

.eraser-btn {
    background-color: #0373ff;   
}

.btn:hover {
    background-color:#212331;
}

.operator-btn:hover,.eraser-btn:hover{
    background-color: #00469c;
}

.fa-delete-left,.clear-btn {
    font-size:30px;
}



